jsdoc
java/bin
node_modules/*
!node_modules/nodeunit
!node_modules/xml2json
!node_modules/html-parser
build.properties
package-lock.json
test/testfiles/ruby/t2.fr-FR.html.haml
test/testfiles/tmpl/CookieFlowTemplate.de-DE.tmpl.html
test/testfiles/tmpl/CookieFlowTemplate.fr-FR.tmpl.html
test/testfiles/tmpl/nostrings.de-DE.tmpl.html
test/testfiles/tmpl/nostrings.fr-FR.tmpl.html
/node_modules/
