##
# Copy this file to build.properties in the root of your checkout,
# and edit all these settings to be appropriate for your environment.
# When this template changes, you need to re-edit the build.properties
# on your machine to match the changes.

JSDOCDIR=tools/jsdoc_toolkit-2.4.0/jsdoc-toolkit
nodeunit=${build.base}/../node_modules/nodeunit
node=/usr/local/Cellar/node/6.3.0/
