<% if( upcoming_appointments.length ){ %>
  <div class="appointment-list generic-list-module">
    <div class="module-header" >
      <div class="sprite-icon calendar-icon-black"></div>
      Upcoming Appointments
      <span class="number"> <%= upcoming_appointments.length %> </span>
   </div>
    <div class="module-content">
      <div class="list-container">
        <% _.each(upcoming_appointments, function( val, index ){ %>
          <% if( index >= per_page ){ val.hidden = true; } %>
          <%= window.templates['appointment_list_item']({ item: val, index: index }) %>
        <% }) %>
        <% if( per_page && upcoming_appointments.length > per_page ){ %>
          <div class="arrow-wrap" style="border-top: none;">
            <div class="down-arrow view-all"></div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
<% } %>
<% if( completed_consults.length ){ %>
  <div class="consult-list generic-list-module">
    <div class="module-header" >
      <div class="sprite-icon video-icon-black"></div>
      Private Consults
    </div>
    <div class="module-content">
      <div class="list-container">
        <% _.each(completed_consults, function( val, index ){ %>
          <% if( index >= per_page ){ val.hidden = true; } %>
          <%= window.templates['consult_list_item']({ item: val, index: index }) %>
        <% }) %>
        <% if( per_page && completed_consults.length > per_page ){ %>
          <div class="arrow-wrap" style="border-top: none;">
            <div class="down-arrow view-all"></div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
<% } %>

<% if( suggested_doctors.length ){ %>
  <div class="suggested-doctors-container">
  <%= 
    window.templates['doctor_list']({
      header_text: RB.getStringJS('Suggested Doctors for you'),
      arrow_header_text: App.defaults.user_json.person.concierge_allowed ? RB.getStringJS('Connect with top doctors and build your Care-Team for free. Get covered anytime, anywhere') : null,
      experts: suggested_doctors,
      per_page: null,
      doctor_options: {
        show_concierge_buttons: true,
        show_message_input: false,
        show_connect_button: true
      }
    })
  %>
  </div>
<% } %>

<div class="get-help-container" style="display: block;">
  <div class="header">
    <div class="get-help">
      Get help
    </div>
    <div class="explanation">
      <% if (App.defaults.outsider_expert_consults_enable) { %>
        <% /* i18n todo: correctly format number */ %>
        <%=
          RB.getString('{span_tag_start}Get answers to your health questions{span_tag_end}{break_tag}{span_tag_start}from over {n} top doctors{span_tag_end}').format({
            span_tag_start: '<span>',
            span_tag_end: '</span>',
            break_tag: '<br>',
            n: feelGood.commafy(App.defaults.total_expert_display_count)

          })
        %>
      <% } else { %>
        <%=
          RB.getString('{span_tag_start}Get answers to your health questions{span_tag_end}{break_tag}{span_tag_start}from top doctors{span_tag_end}').format({
            span_tag_start: '<span>',
            span_tag_end: '</span>',
            break_tag: '<br>'
          })
        %>
      <% } %>
    </div>
  </div>
  <div class="content">
    <div class="doc-icon-huge"></div>
    <div class="online-now">
      <% if (App.defaults.outsider_expert_consults_enable) { %>
        <% /* i18n todo: correctly format number */ %>
        <%=
          RB.getString('{n} doctors available for you').format({
            n: feelGood.commafy(App.defaults.total_expert_display_count)
          })
        %>
      <% } else { %>
        Doctors are standing by to help
      <% } %>
    </div>
    <a class="btn wide" href="/ask_docs" track_event='menu_consults_talk_ad' track_data='{"type": "in_app_referrer"}' ><i class="talk2docs-icon"></i> Get help now</a>
  </div>
</div>
