<div class="upsell-ad-item clearfix">  
    <div class="modal_x"></div>
    <div class="upsell-ad-content">
      <div class="upsell-ad-header">
        <div class="caduceus-big cookie-flow"></div>
        <span class="upsell-header-bold"><%=title%></span>
          <% if(doctor){ %>
            <%=
              RB.getString('Consult  {span_tag_start}{value}{span_tag_end}, a {specialist_name} with {years} years in practice:').format({
                value: doctor.value,
                specialist_name: doctor.specialist_name,
                years: doctor.years_in_practice,
                span_tag_start: '<span class="upsell-header-bold">',
                span_tag_end: '</span>'
              })
            %>
            Consult
          <% } else { %>
            Get doctor answers for free!
          <% } %>
      </div>
      <div class="upsell-ad-wrapper" style="<%= doctor ? '' : 'padding-left: 0' %>">
         <% if(doctor){ %>
          <a class="doctor-avatar" href="/experts/<%= doctor.id %>" style="background-image: url(<%= doctor.avatar_transparent_circular %>);"></a>
        <% } %>
        <input class="askInputArea-cookie desktop" maxlength="150" placeholder='<%= placeholder %>'>
        <span class="askSendArea-cookie">
          <a class="askSendBtn-cookie" href="<%= doctor ? '/experts/' + doctor.id + '/message?from_seo=1' : '/send_question' %>">
            <div class="desktop-btn">Send question</div>
            <div class="mobile-btn">Ask</div>
          </a>
        </span>
      </div>
    </div>
</div>